<section class="programme-section bg-light">
  <div class="container">
    <h2 class="programme-title text-center section-heading text-uppercase">
      Programme de la Nuit
    </h2>
    <div class="row justify-content-center">
      <div class="col-md-4 programme-item">
        <h5>17:00 - 19:00</h5>
        <p>Accueil et Enregistrement</p>
      </div>
      <div class="col-md-4 programme-item">
        <h5>19:00 - 20:00</h5>
        <p>Session d'ouverture et Conférences</p>
      </div>
      <div class="col-md-4 programme-item">
        <h5>20:00 - 22:00</h5>
        <p>Déjeuner</p>
      </div>
      <div class="col-md-4 programme-item">
        <h5>22:00 - 23:00</h5>
        <p>Ateliers et Discussions</p>
      </div>
      <div class="col-md-4 programme-item">
        <h5>23:00 - 00:00</h5>
        <p>Pause Café</p>
      </div>
      <div class="col-md-4 programme-item">
        <h5>00:00 - 06:00</h5>
        <p>Session de Clôture</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="section-title">
      Partenaires
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 partner">
        <img src="assets/img/about/3.jpg" alt="Partenaire 1" class="img-fluid">
        <p>Nom du Partenaire 1</p>
      </div>
      <div class="col-md-3 partner">
        <img src="assets/img/about/1.jpg" alt="Partenaire 2" class="img-fluid">
        <p>Nom du Partenaire 2</p>
      </div>
      <div class="col-md-3 partner">
        <img src="assets/img/about/3.jpg" alt="Partenaire 1" class="img-fluid">
        <p>Nom du Partenaire 1</p>
      </div>
      <div class="col-md-3 partner">
        <img src="assets/img/about/3.jpg" alt="Partenaire 1" class="img-fluid">
        <p>Nom du Partenaire 1</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3 partner">
        <img src="assets/img/about/3.jpg" alt="Partenaire 1" class="img-fluid">
        <p>Nom du Partenaire 1</p>
      </div>
      <div class="col-md-3 partner">
        <img src="assets/img/about/1.jpg" alt="Partenaire 2" class="img-fluid">
        <p>Nom du Partenaire 2</p>
      </div>
      <div class="col-md-3 partner">
        <img src="assets/img/about/3.jpg" alt="Partenaire 1" class="img-fluid">
        <p>Nom du Partenaire 1</p>
      </div>
      <div class="col-md-3 partner">
        <img src="assets/img/about/3.jpg" alt="Partenaire 1" class="img-fluid">
        <p>Nom du Partenaire 1</p>
      </div>
    </div>
  </div>
</section>
