<section class="borderr mt-4" id="about">
  <div class="container">
    <div class="row">
      <h2 class="section-heading text-uppercase">A propos de la nuit !!!</h2>
      <div class="col-md-6">
        <p class="text-muted text-justify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim
          sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a,
          semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non
          fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a,
          enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue.
          Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales.
          Vestibulum ante ipsum primis in;
        </p>
        <button class="btn btn-dark text-bg-dark" (click)="ngVoirPlus()">Voir plus</button>
      </div>
      <div class="col-md-6">
        <img src="assets/img/banner.jpg" class="img-fluid" alt="Banner">
      </div>
    </div>
  </div>
</section>
