<header class="masthead">
  <div class="container">
    <div class="row align-items-center">
      <div class="masthead-heading text-uppercase">
        Sponsors
      </div>
    </div>
  </div>
</header>

<!--<section class="page-section bg-light" id="about">-->
<!--  <div class="container">-->
<!--    <div class="text-center">-->
<!--      &lt;!&ndash;      <h2 class="section-heading text-uppercase">Sponsors</h2>&ndash;&gt;-->
<!--      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
<!--    </div>-->
<!--    <ul class="timeline">-->
<!--      <li>-->
<!--        <div class="timeline-image">-->
<!--          <img class="rounded-circle img-fluid" src="assets/img/logo.png" alt="..."/>-->
<!--        </div>-->
<!--        <div class="timeline-panel">-->
<!--          <div class="timeline-heading">-->
<!--            <h4 class="subheading">Sponsors</h4>-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <p class="text-muted">-->
<!--              Airbus Defense & Space protège les gouvernements, les organisations et les infrastructures contre les-->
<!--              menaces cyber.-->
<!--              L’entité Cyber d’Airbus Defence and Space travaille en étroite collaboration avec les forces armées, les-->
<!--              agences gouvernementales et les clients institutionnels pour concevoir, développer, intégrer et déployer-->
<!--              des solutions de cybersécurité sur mesure, ainsi que pour fournir un soutien opérationnel tout au long du-->
<!--              cycle de vie du système.-->
<!--              Notre connaissance intrinsèque des domaines de l’aérospatiale et de la défense, associée à l’expertise de-->
<!--              nos plus de 450 experts cyber (répartis en France, en Allemagne, au Royaume-Uni et en Espagne) nous-->
<!--              procure une compréhension unique des défis auxquels nos clients sont confrontés au quotidien.-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="timeline-inverted">-->
<!--        <div class="timeline-image">-->
<!--          <img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..."/>-->
<!--        </div>-->
<!--        <div class="timeline-panel">-->
<!--          <div class="timeline-heading">-->
<!--            <h4 class="subheading">Sponsors</h4>-->
<!--            &lt;!&ndash;            <h4 class="subheading">An Agency is Born</h4>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <p class="text-muted">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing. Sunt ut voluptatum eius-->
<!--              sapiente, totam reiciendis-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/logo.png" alt="..."/>-->
<!--        </div>-->
<!--        <div class="timeline-panel">-->
<!--          <div class="timeline-heading">-->
<!--            <h4 class="subheading">Sponsors</h4>-->
<!--            &lt;!&ndash;            <h4 class="subheading">Transition to Full Service</h4>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <p class="text-muted">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing. Sunt ut voluptatum eius-->
<!--              sapiente, totam reiciendis-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="timeline-inverted">-->
<!--        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..."/>-->
<!--        </div>-->
<!--        <div class="timeline-panel">-->
<!--          <div class="timeline-heading">-->
<!--            <h4 class="subheading">Sponsors</h4>-->
<!--            &lt;!&ndash;            <h4 class="subheading">Phase Two Expansion</h4>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <p class="text-muted">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing. Sunt ut voluptatum eius-->
<!--              sapiente, totam reiciendis-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/logo.png" alt="..."/>-->
<!--        </div>-->
<!--        <div class="timeline-panel">-->
<!--          <div class="timeline-heading">-->
<!--            <h4 class="subheading">Sponsors</h4>-->
<!--            &lt;!&ndash;            <h4 class="subheading">Transition to Full Service</h4>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <p class="text-muted">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing. Sunt ut voluptatum eius-->
<!--              sapiente, totam reiciendis-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="timeline-inverted">-->
<!--        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..."/>-->
<!--        </div>-->
<!--        <div class="timeline-panel">-->
<!--          <div class="timeline-heading">-->
<!--            <h4 class="subheading">Sponsors</h4>-->
<!--            &lt;!&ndash;            <h4 class="subheading">Phase Two Expansion</h4>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <p class="text-muted">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing. Sunt ut voluptatum eius-->
<!--              sapiente, totam reiciendis-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li>-->
<!--        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/logo.png" alt="..."/>-->
<!--        </div>-->
<!--        <div class="timeline-panel">-->
<!--          <div class="timeline-heading">-->
<!--            <h4 class="subheading">Sponsors</h4>-->
<!--            &lt;!&ndash;            <h4 class="subheading">Transition to Full Service</h4>&ndash;&gt;-->
<!--          </div>-->
<!--          <div class="timeline-body">-->
<!--            <p class="text-muted">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipisicing. Sunt ut voluptatum eius-->
<!--              sapiente, totam reiciendis-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </li>-->
<!--      &lt;!&ndash;      <li class="timeline-inverted">&ndash;&gt;-->
<!--      &lt;!&ndash;        <div class="timeline-image">&ndash;&gt;-->
<!--      &lt;!&ndash;          <h4>&ndash;&gt;-->
<!--      &lt;!&ndash;            Be Part&ndash;&gt;-->
<!--      &lt;!&ndash;            <br/>&ndash;&gt;-->
<!--      &lt;!&ndash;            Of Our&ndash;&gt;-->
<!--      &lt;!&ndash;            <br/>&ndash;&gt;-->
<!--      &lt;!&ndash;            Story!&ndash;&gt;-->
<!--      &lt;!&ndash;          </h4>&ndash;&gt;-->
<!--      &lt;!&ndash;        </div>&ndash;&gt;-->
<!--      &lt;!&ndash;      </li>&ndash;&gt;-->
<!--    </ul>-->
<!--  </div>-->
<!--</section>-->

<section class="page-section bg-light" id="about">
  <div class="text-center">
    <h3 class="section-subheading text-muted">Notre &eacute;cosyst&egrave;me de partenaires</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p-card class="m-4 custom-card">
          <div class="d-flex">
            <div class="card-image-container mt-2">
              <img src="assets/img/partenaires/huawei.png" href="www.orange.sn" alt="">
            </div>
            <div class="card-details-container">
              <!--              <h4 class="fw-bold">Orange</h4>-->
              <!--          <h6 class="mb-3 fw-bold">{{ book.author }}</h6>-->
              <p class="mx-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text
              </p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-md-4">
        <p-card class="m-4 custom-card">
          <div class="d-flex">
            <div class="card-image-container mt-2">
              <img src="assets/img/partenaires/ecobank.png" alt="">
            </div>
            <div class="card-details-container">
              <!--              <h2 class="fw-bold">Ecobank</h2>-->
              <!--          <h6 class="mb-3 fw-bold">{{ book.author }}</h6>-->
              <p class="mx-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text
              </p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-md-4">
        <p-card class="m-4 custom-card">
          <div class="d-flex">
            <div class="card-image-container mt-2">
              <img src="assets/img/partenaires/ccdoc.jpeg" alt="">
            </div>
            <div class="card-details-container">
              <!--              <h2 class="fw-bold">CCDOC</h2>-->
              <!--          <h6 class="mb-3 fw-bold">{{ book.author }}</h6>-->
              <p class="mx-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text
              </p>
            </div>
          </div>
        </p-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p-card class="m-4 custom-card">
          <div class="d-flex">
            <div class="card-image-container mx-2">
              <img src="assets/img/partenaires/deloitte.png" alt="">
            </div>
            <div class="card-details-container">
              <p class="mx-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text
              </p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-md-4">
        <p-card class="m-4 custom-card">
          <div class="d-flex">
            <div class="card-image-container mx-2">
              <img src="assets/img/partenaires/huawei.png" alt="">
            </div>
            <div class="card-details-container">
              <p class="mx-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text
              </p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-md-4">
        <p-card class="m-4 custom-card">
          <div class="d-flex">
            <div class="card-image-container mx-2">
              <img src="assets/img/partenaires/tradex.png" alt="">
            </div>
            <div class="card-details-container">
              <p class="mx-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text
              </p>
            </div>
          </div>
        </p-card>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p-card class="m-4 custom-card">
          <div class="d-flex">
            <div class="card-image-container mx-2">
              <img src="assets/img/partenaires/varonis.png" alt="">
            </div>
            <div class="card-details-container">
              <p class="mx-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text
              </p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-md-4">
        <p-card class="m-4 custom-card">
          <div class="d-flex">
            <div class="card-image-container mx-2">
              <img src="assets/img/partenaires/ecobank.png" alt="">
            </div>
            <div class="card-details-container">
              <p class="mx-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text
              </p>
            </div>
          </div>
        </p-card>
      </div>
      <div class="col-md-4">
        <p-card class="m-4 custom-card">
          <div class="d-flex">
            <div class="card-image-container">
              <img src="assets/img/partenaires/orange.png" alt="">
            </div>
            <div class="card-details-container">
              <p class="mx-2">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                text
              </p>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</section>
